<section>
  <article>
    <img src="{{utente.picture.large}}">
  </article>
  <article>
    <label>{{etichette.nome}}</label>
    <div>{{utente.name.first}}</div>
  </article>
  <article>
    <label>{{etichette.cognome}}</label>
    <div>{{utente.name.last}}</div>
  </article>
  <article>
    <label>{{etichette.dataNascita}}</label>
    <div>{{utente.dob}}</div>
  </article>
  <article>
    <label>{{etichette.indirizzo}}</label>
    <div>{{indirizzoCompleto}}</div>
  </article>
  <article>
    <label>{{etichette.telefono}}</label>
    <div>{{utente.phone}}</div>
  </article>
  <article>
    <label>{{etichette.email}}</label>
    <div>{{utente.email}}</div>
  </article>

  <button (click)="ritornaAllaTabella()">{{etichette.ritornoAllaTabella}}</button>
</section>
