/* You can add global styles to this file, and also import other style files */
@import './app/_variable';

app-root{
    background-color: $primaryColor;
    font-family: $fontGenerico;
    font-size: $dimensioneFontGenerico;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-home{
    width: 100%;
}

app-impostazioni{
    width: 100%;
}