<table *ngIf= "utenti && mostraTabella">
  <thead>
    <th>{{etichette.foto}}</th>
    <th>{{etichette.nome}}</th>
    <th>{{etichette.cognome}}</th>
    <th></th>
  </thead>

  <tbody>
    <tr *ngFor = "let utente of utenti">
      <td><img src="{{utente.picture.medium}}"></td>
      <td class="testo">{{utente.name.first}}</td>
      <td class="testo">{{utente.name.last}}</td>
      <td class="bottone"><button (click)="visualizzaDettaglioUtente(utente)" >{{etichette.dettagli}}</button></td>
    </tr>
  </tbody>

</table>
<app-dettaglio-utente *ngIf="!mostraTabella && (utenteSelezionato !== undefined)" [utente]="utenteSelezionato" (open)="tornaAVisualizzareTabella($event)"></app-dettaglio-utente>